<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
   	    <title>LUL</title>

        <!-- Boostrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <!-- Social Media Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Local CSS -->
        <link rel="stylesheet" href="/css/site2.css" type="text/css" />
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row" style="padding-top:3px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3 style="text-align:center;font-size:1em"><i>Not the official site! A project made from scratch. Hire me daddy gachiBASS</i></h3>
                        <p style="text-align:center;font-size:1em">Contact:
                            <a class="plug" href="https://twitter.com/Ev_voke">
                                <b><i>@Ev_voke</i></b>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row">  
                    <div class="col-xs-2 offset-xs-5 col-sm-2 offset-sm-5 col-md-2 offset-md-5 col-lg-2 offset-lg-5" style="text-align:center;">
                        <img style="border-radius:100%;max-width:50%;height:auto;" src="https://i.imgur.com/gNkf5Ub.jpg" alt="OfflineTV">
                    </div>
                </div>
            </div>
        </header>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="my-1 navbar-brand" href="/">Offline TV</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto my-1">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/members">Members <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/store">Store <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_me">About Me <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- DISABLE BUTTON
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    -->
                </ul>
                <!-- SEARCH BAR FOR LATER??
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                -->
                <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.reddit.com/r/offlineTV/" target="_blank">
                    <img src="https://i.imgur.com/1Jw7oU7.png" width="35" height="35" alt="Reddit">
                </a>
                <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.youtube.com/channel/UCDK9qD5DAQML-pzrtA7A4oA" target="_blank">
                    <img src="https://i.imgur.com/Ri73JhH.png" width="35" height="35" alt="Youtube">
                </a>
                <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.instagram.com/offlinetvgg" target="_blank">
                    <img src="https://i.imgur.com/9PHyms0.png" width="35" height="35" alt="Instagram">
                </a>
                <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://twitter.com/offlinetvgg" target="_blank">
                    <img src="https://i.imgur.com/Amwt37w.png" width="35" height="35" alt="Twitter">
                </a>
                <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.facebook.com/OfflineTVgg" target="_blank">
                    <img src="https://i.imgur.com/ZvtUG96.png" width="35" height="35" alt="Facebook">
                </a>
                <button class="btn btn-outline-secondary my-2 my-sm-0 disabled" type="submit">Login</button>
            </div>
        </nav>
        <div class="container">{{{body}}}</div>
        <footer class="absolute-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">        
                        ※<i>&nbsp;EZ Clap&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/Ev_voke" target="_blank">@Ev_voke</a> || 2018&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EZ Clap&nbsp;</i>※
                    </div>
                </div>
            </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>