<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/OfflineTVLogo.png">
    <meta name="keywords" content=" Offline TV, OfflineTV,
                                    Scarra,
                                    Pokimane,Poki,Poki Store,Pokimane Store,Poki Merch,Pokimane Merch,Poki Merchandise,Pokimane Merchandise,
                                    Disguised Toast,Disguised Toast Store,Disguised Toast Merch,Disguised Toast Merchandise,
                                    Lily,Lilypichu,Lily Store,Lilypichu Store,Lily Merch,Lilypichu Merch,Lily Merchandise,Lilypichu Merchandise,
                                    Fed,Fedmyster,Fed Store,Fedmyster Store,Fed Merch,Fedmyster Merch,Fed Merchandise,Fedmyster Merchandise,
                                    Albert,sleightlymusical,THEalbertchang,
                                    Edison,edisonparklive,
                                    Mark,theemarkz,themarkz,
                                    Xell,OfficialXell,LoLXell,
                                    Yvonne,yvonnie,
                                    IRL,League Of Legends,Fortnite,Gaming,Twitch,TwitchTV,Streaming,Streamers">

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">

    <!-- Social Media Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/layout.css" type="text/css" />

    {{{body}}}

    <nav class="navbar sticky-bottom navbar-light bg-light">
        ※
        <i>
            Jaz || 2018
        </i>
        ※
    </nav>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <script src="./scripts/scripts.js"></script>
</body>

</html>
