<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
   	    <title>OMEGALUL</title>

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
        <!-- Local CSS -->
        <link rel="stylesheet" href="/css/site.css" type="text/css" />

    </head>
    <body>
        <nav style="background-color: rgb(0, 255, 234);">
                    <h3><i>This isnt the official site or anything, just a project made for fun. Hire me daddy gachiBASS</i></h3>
        </nav>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img class="col-md-4" src="https://thumbs.gfycat.com/CriminalNextAlpaca-size_restricted.gif" alt="Scarra FeelsBadMan" >
                        <div class="col-md-4">
                        <img src="https://www.trendsmap.com/ipx/https://pbs.twimg.com/profile_images/898039979775012865/fEunKubj.jpg" alt="OfflineTV" onmouseover="scarracake(this)" onmouseout="offlinetv(this)">
                        <script>
                            function scarracake(x) {
                                x.src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ivsdiPU6fHWEd9A9YznsLrhhuDwbHyB17WklF1_5JMDuOQfO";
                            }

                            function offlinetv(x) {
                                x.src = "https://www.trendsmap.com/ipx/https://pbs.twimg.com/profile_images/898039979775012865/fEunKubj.jpg";
                            }
                        </script>
                        </div>
                        <img class="col-md-4" src="https://thumbs.gfycat.com/CriminalNextAlpaca-size_restricted.gif" alt="Scarra FeelsBadMan" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline">
                            <hr>
                            <li><a href="/">Home</a></li>
                            <li><a href="/members">Members</a></li>
                            <li><a href="https://teespring.com/stores/offline-tv-official-merch?page=1">Store</a></li>
                            <hr>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">{{{body}}}</div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
            </div>
        </footer>
    </body>
</html>