<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
   	    <title>LUL</title>

        <!-- Boostrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Social Media Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Local CSS -->
        <link rel="stylesheet" href="/css/site.css" type="text/css" />
    </head>
    <body>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <nav class="login"></nav>
        <header>
            <div class="container topPadding">
                <div class="row">  
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="headerImgs" style="width:100%;">
                            <tr>
                                <td width="39.5%">
                                    <img width="98%" src="https://i.imgur.com/HUp8FOM.gif" alt="OfflineTV" >
                                </td>
                                <td width="21%">
                                    <img width="98%" style="border-radius: 100%;" src="https://i.imgur.com/gNkf5Ub.jpg" alt="OfflineTV" onmouseover="scarracake(this)" onmouseout="offlinetv(this)">
                                    <script>
                                        function scarracake(x) {
                                            x.src = "https://i.imgur.com/Pi9Pzj1.jpg";
                                        }

                                        function offlinetv(x) {
                                            x.src = "https://i.imgur.com/gNkf5Ub.jpg";
                                        }
                                    </script>
                                </td>
                                <td width="39.5%">
                                    <img width="98%" src="https://i.imgur.com/HUp8FOM.gif" alt="OfflineTV" >
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 zeroPadding">
                        <h3 class="headermsg"><i>Not an official site, simply a project made from scratch for fun. Hire me daddy gachiBASS</i></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 zeroPadding" >
                        <nav class="websitemenu">
                        <hr class="top">
                        <a href="/">Home</a> || 
                        <a href="/members">Members</a> || 
                        <a href="https://teespring.com/stores/offline-tv-official-merch?page=1">Store</a>
                        <hr class="bottom">
                        </nav>
                    </div>
                </div>
                <div class="row" style="padding-bottom:35px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="SocialMediaLinks" align="center">
                            <tr>
                                <td>
                                    <a href="https://www.reddit.com/r/offlineTV/"><img width="50px" src="https://i.imgur.com/1Jw7oU7.png" alt="Reddit" /></a>
                                </td>
                                <td width="5em"></td>
                                <td>
                                    <a href="https://www.youtube.com/channel/UCDK9qD5DAQML-pzrtA7A4oA"><img width="50px" src="https://i.imgur.com/Ri73JhH.png" alt="Youtube" /></a>
                                </td>
                                <td width="5em"></td>
                                <td>
                                    <a href="https://www.instagram.com/offlinetvgg/"><img width="50px" src="https://i.imgur.com/9PHyms0.png" alt="Instagram" /></a>
                                </td>
                                <td width="5em"></td>
                                <td>
                                    <a href="https://twitter.com/offlineTVgg"><img width="50px" src="https://i.imgur.com/Amwt37w.png" alt="Twitter" /></a>
                                </td>
                                <td width="5em"></td>
                                <td>
                                    <a href="https://www.facebook.com/OfflineTVgg/"><img width="50px" src="https://i.imgur.com/ZvtUG96.png" alt="Facebook" /></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </header>
        <hr class="majorHr">
        <div class="BodyColor">
        <div class="container">{{{body}}}</div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">        
                        <b>.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.</b>
                    </div>
                </div>
            </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    </body>
</html>