<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
   	    <title>LUL</title>

        <!-- Social Media Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
        <!-- Local CSS -->
        <link rel="stylesheet" href="/css/site.css" type="text/css" />

    </head>
    <body>
    <div class="bodybackgroundimage">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="text-align: center; color: rgb(0, 255, 234);">
                        <h3><i>This isnt the official site or anything, just a project made for fun from scratch. Hire me daddy gachiBASS</i></h3>
                    </div>
                </div>
                <div class="row">  
                    <div class="col-md-12">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <img width="400px" src="https://i.imgur.com/HUp8FOM.gif" alt="OfflineTV" >
                                </td>
                                <td>
                                    <img width="200px" style="border-radius: 100px;" src="https://i.imgur.com/gNkf5Ub.jpg" alt="OfflineTV" onmouseover="scarracake(this)" onmouseout="offlinetv(this)">
                                    <script>
                                        function scarracake(x) {
                                            x.src = "https://i.imgur.com/Pi9Pzj1.jpg";
                                        }

                                        function offlinetv(x) {
                                            x.src = "https://i.imgur.com/gNkf5Ub.jpg";
                                        }
                                    </script>
                                </td>
                                <td>
                                    <img width="400px" src="https://i.imgur.com/HUp8FOM.gif" alt="OfflineTV" >
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline">
                            <hr>
                            <li><a href="/">Home</a></li> ||
                            <li><a href="/members">Members</a></li> ||
                            <li><a href="https://teespring.com/stores/offline-tv-official-merch?page=1">Store</a></li>
                            <hr>
                        </ul>
                    </div>
                </div>
                <div class="row" style="padding-bottom:35px">
                    <div class="col-md-4 col-md-offset-4">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <a href="https://www.reddit.com/r/offlineTV/"><img class="socialsites" width="50px" src="https://i.imgur.com/1Jw7oU7.png" alt="Reddit" /></a>
                                </td>
                                <td>
                                    <a href="https://www.youtube.com/channel/UCDK9qD5DAQML-pzrtA7A4oA"><img class="socialsites" width="50px" src="https://i.imgur.com/Ri73JhH.png" alt="Youtube" /></a>
                                </td>
                                <td>
                                    <a href="https://www.instagram.com/offlinetvgg/"><img class="socialsites" width="50px" src="https://i.imgur.com/9PHyms0.png" alt="Instagram" /></a>
                                </td>
                                <td>
                                    <a href="https://twitter.com/offlineTVgg"><img class="socialsites" width="50px" src="https://i.imgur.com/Amwt37w.png" alt="Twitter" /></a>
                                </td>
                                <td>
                                    <a href="https://www.facebook.com/OfflineTVgg/"><img class="socialsites" width="50px" src="https://i.imgur.com/ZvtUG96.png" alt="Facebook" /></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
        </header>
        <div class="container">{{{body}}}</div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 footer">
                        OfflineTV Sample Website || 2018 || Created by Jaz Sandhu
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </body>
</html>