<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Offline TV</title>
    <link rel="icon" href="/images/OfflineTVLogo.png">

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">

    <!-- Social Media Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/layout.css" type="text/css" />
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/images/OfflineTVLogo.png" alt="OfflineTV" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/members">Members
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Store
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/store/offlinetv">Offline TV</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/store/disguised-toast">Disguised Toast</a>
                        <a class="dropdown-item disabled" href="#" style="cursor: wait;">Fedmyster</a>
                        <a class="dropdown-item disabled" href="#" style="cursor: wait;">Lilypichu</a>
                        <a class="dropdown-item" href="/store/pokimane">Pokimane</a>
                    </div>
                </li>
            </ul>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.reddit.com/r/offlineTV/">
                <img src="https://i.imgur.com/1Jw7oU7.png" width="35" height="35" alt="Reddit">
            </a>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.youtube.com/channel/UCDK9qD5DAQML-pzrtA7A4oA">
                <img src="https://i.imgur.com/Ri73JhH.png" width="35" height="35" alt="Youtube">
            </a>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.instagram.com/offlinetvgg">
                <img src="https://i.imgur.com/9PHyms0.png" width="35" height="35" alt="Instagram">
            </a>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://twitter.com/offlinetvgg">
                <img src="https://i.imgur.com/Amwt37w.png" width="35" height="35" alt="Twitter">
            </a>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.facebook.com/OfflineTVgg">
                <img src="https://i.imgur.com/ZvtUG96.png" width="35" height="35" alt="Facebook">
            </a>
            <!-- <button class="btn btn-outline-secondary my-2 my-sm-0 disabled" type="submit">Login</button> -->
        </div>
    </nav>

    {{{body}}}

    <nav class="navbar sticky-bottom navbar-light bg-light">
        ※
        <i>
            <a href="https://twitter.com/Ev_voke">@Ev_voke</a>
            || 2018
        </i>
        ※
    </nav>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <script src="./scripts/scripts.js"></script>
</body>

</html>