<br>
<div class="row" style="padding:20px;">
    <div class="col-sm-12 col-md-12 col-lg-12 content" style="padding:20px;">
        <p>I need a site of my own for my personal information but this will do for now.</p>
        <p>Hello!</p>
        <p>My name is Jaz. I made this site from scratch using tools at my disposal and done entirely alone.</p>
        <p>I was born, raised and still currently live in the Peel Region, specifically Mississauga and Brampton.</p>
        <p>Current: <br>
            I'm a 21 year old Computer Programming student. I've only been 
            learning web development for a total of a year or so, given that I've taken 2 web dev courses
            and looking to take a third. I absolutely love it so far and spend more time doing this than my
            actual homework haHAA. I have knowledge and experience
            in HTML, CSS, Javascript, AJAX, JSON and SQL for what im doing currently with this site.
            Im using various softwares and tools including Node.js, Visual Studio Code, PostgreSQL, etc.
            I know other languages and stuff but for the sake of this project I'll leave it at this.</p>
        <p>Past:<br>
            I've taken 3 years of media arts in high school which encapsulated graphic design, video 
            editing, logo design, etc. I didn't abandon my love for them, I still do them from time to 
            time but it's when I'm feelin some way or another. Made a few tshirt designs, memes and videos LOL.
            However my Adobe Illustrator and Photoshop have been expired for quite a while now 
            (accidently updated lul feelsbadman). I used to breakdance in highschool too LOOOL I was in 
            a bboy club but I never stuck to it, was more so just to mess around and release some energy.
            I did learn how to do a handstand, diveroll as well as learn some footwork, certainly glad about that.
            I still love to dance, just not around normies reeeee.</p>
        <p>Future:<br>
            I love learning. Like I love, love it. I hate school but I'll sit and intake information left and right
            wherever it peaks my interest. I also have a habit of trying new things. I enjoy exercising and expanding on skills through art and other means.
            That's also why I chose to do programming. Simply put I love learning logic and applying it with a sense of freedom.
            I wish to do that going forward, making money to support a 
            lifestyle in which I can continue to enjoy my life. I do want to get rich for the soul purpose of 
            learning how to engineer and create wild tech stuff LOL I want to know how machine learning works, how to build
            AI and implement it into hardware. I'm also big on philosophy and all that other good sheit. I just want a
            chill and fun life where I'm pursuing my passions and allowing happiness into my life. I got other big 
            goals and dreams but I needa chill on that, mans out here on the verge of being delusional.</p>
    </div>
</div>
<br>