<div class="row contentNoPad" style="margin:0;margin-top:1em;margin-bottom:1em;">
    <div id="twitchBar" class="col-md-12 col-lg-12">
        <div id="after" style="height:12px;"><i>Currently Live:</i>&nbsp;</div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-lg-8" style="margin-bottom:1em;">
        <div class="content">
            <h4 style="text-align:center;">Recent Posts on this Domain</h4><hr>
            Essentially a main hub to link everything together.<br><br>
            To do: <br>
            <ul>
                <li>Social Media Integration</li>
                <li>Login (authentication and authorization) process with security</li>
                <li>Update javascript to sync application to MongoDB and PostgreSQL for database storage on users, passwords, comments, etc.</li>
                <li>See if worth implementing youtube videos to site properly</li>
                <li>Check compatability with other browsers when most (if not all) of it is done</li>
                <li>Change the design and structure as seen fit, primary structuring and design aspects are complete so focus on implementations for now bic boi</li>
                <li>Get around to clean up javascript, css and html; shift things around and delete pointless/annoying code where necessary</li>
            </ul>
            Completed Integrations: <br>
            <ul>
                <li>Twitch live status integration</li>
                <li>Web Scraping Store</li>
                <li>Read members off local JSON file with all required data</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="" style="margin-bottom:1em;">
            <div class="content">
                <h4 style="text-align: center;">Posts from Social Accounts</h4><hr>
            </div>
        </div>  
    </div>
</div>