<div class="row section-1">
    <div class="col-md-12 T">
        <h4 style="text-align: center;">Coming Soon</h4><img width="30px" src="https://media.giphy.com/media/3osxYvlvftSWxrdHvG/giphy.gif" alt="wtf" />
    </div>
</div>
<div class="row section-2">
    <div class="col-md-7 RP pull-left">
        <h4 style="text-align: left;">Recent Posts on this Domain</h4><hr>
        Essentially a main hub to link everything together.<br><br>
        To do: <br>
        <ul>
            <li>Twitch integration</li>
            <li>Login (authentication and authorization) process with security</li>
            <li>Connect to MongoDB and PostgreSQL for database storage on users, passwords, comments, etc.</li>
            <li>Get around to clean up javascript, css and html; shift things around and delete pointless/annoying code where necessary</li>
        </ul>
    </div>
    <div class="col-md-4 YT pull-right">
        <h4 style="text-align: left;">New Posts/Updates from Social Media Accounts as Required.</h4>
    </div>
</div>