body {
    background-color: blue;
}

/*  HEADER  */
header {
    background-color: rgb(31, 27, 27);
}

header nav {
    background-color: rgb(155, 155, 155);
    border: 1px solid black;
}

/*  .  */